{% extends "Stromzeiten_app/base.html" %}
{% block content %}
  <h1>About Stromzeiten!</h1>
In Haushalten mit eigener Photovoltaik-Anlage wird der Stromverbrauch gezielt an Uhrzeitenmithoher Sonneneinstrahlung angepasst.  Dies  ist  aus  ökonomischen  und  ökologischen  Gründen  sinnvoll. Wir möchten nun  diese Möglichkeit  auch  Menschengeben, die ausschließlich Netzstrom beziehen. Mittels einer App möchten wir aufzeigen, zu welchen Tageszeiten das regenerative Stromangebot am höchsten ist.   Auf  diese  Weise  wird die Stromnachfrage  dem Stromangebot angepasst, das  regenerative Stromangebot  besser  ausgenutzt  und  somit  ein  Beitrag  zur  Energiewende  geleistet. Dafür  wollen  wir Prognosedaten von regenerativem Stromangebot und -verbrauch erstellen.
{% endblock content %}



